.footerContainer,
.darkFooterContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  height: 80px;
  background-color: white;
  box-shadow: 0px -8px 30px rgba(0, 0, 0, 0.1);
}

.darkFooterContainer {
  background-color: #2b3945;
  box-shadow: 0px 4px 30px rgba(182, 168, 168, 0.15);
}

.footerLogo,
.darkFooterLogo {
  width: 100%;
  background-image: url("/assets/icons/light_logo.svg");
  background-repeat: no-repeat;
  background-position-x: start;
  background-position-y: center;
}

.darkFooterLogo {
  background-image: url("/assets/icons/dark_logo.svg");
}

.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}