.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 32px;
  height: 80px;
  box-shadow: 0px -8px 30px rgba(0, 0, 0, 0.1);
}

.footerLogo {
  width: 100%;
  background-image: url("../../assets/icons/light_logo.svg");
  background-repeat: no-repeat;
  background-position-x: start;
  background-position-y: center;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}