.tourItem,
.darkTourItem {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 40px 16px 30px;
  width: 360px;
  border-radius: 12px;
}

.listView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 8px; */
  padding: 8px 40px 16px 30px;
  width: auto;
  border-radius: 12px;
}


.listView .lightDeleteButton,
.darkDeleteButton {
  margin: auto 0;
}

.tourItem,
.listView+.tourItem {
  box-shadow: 1px 1px 20px rgba(20, 20, 20, 0.25);
}

.darkTourItem,
.listView+.darkTourItem {
  color: white;
  box-shadow: 0px 4px 30px rgba(238, 238, 238, 0.15);
}

.titleLine {
  display: flex;
  align-items: center;
  gap: 86px;
}

.tourItemPriceLine div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lightDeleteButton,
.darkDeleteButton,
.gridEditButton {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../../../assets/icons/light_delete.svg');
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
}

.gridEditButton {
  background-image: url('../../../assets/icons/light_edit.svg');
  margin-right: 16px;
}

.lightDeleteButton:hover,
.darkDeleteButton:hover,
.gridEditButton:hover {
  transform: scale(1.1);
}

.darkEditButton {
  background-image: url('../../../assets/icons/dark_edit.svg');
}

.darkDeleteButton {
  background-image: url('../../../assets/icons/dark_delete.svg');
}



.tourItemImage,
.tourItemImageList {
  display: flex;
  margin: 16px auto 10px auto;
  height: 340px;
  transition: all 0.2s ease-in-out;
}

.tourItemImageList {
  height: 220px;
  margin-right: 24px;
  margin-left: 16px;
}

.tourItemImage:hover,
.tourItemImageList:hover {
  transform: scale(1.1);
}

.listView div {
  display: flex;
}

.tourDescription,
.tourDescriptionList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tourDescriptionList {
  justify-content: space-between;
}

.tourItemTitle {
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
}

.continentAge {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tourItemContinent {
  margin: 0;
  font-weight: 400;
}

.tourItemAge {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  font-weight: 700;
  border-radius: 50%;
  background-color: rgb(106, 181, 230);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 24px;

}

.tourItemPriceLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tourItemPrice {
  align-self: center;
  font-size: 24px;
  font-weight: 500;
  color: #09b3b3;
}

.tourItemButton {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 20px;
  color: #09b3b3;
  border-radius: 8px;
  border: 2px solid #09b3b3;
  background-color: transparent;
}


.tourItemButtonList {
  align-self: center;
  margin-left: 4rem;
  padding: 12px 30px;
  height: 3em;
  font-weight: 600;
  font-size: 20px;
  color: #09b3b3;
  border-radius: 8px;
  border: 2px solid #09b3b3;
  background-color: transparent;
}


.tourItemButton:hover,
.tourItemButtonList:hover {
  transform: scale(1.1);
}